<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Sample Book Productivity</li>
<li>Bring the following samples to class for review:</li>
<ul>
<li>Full scale Trouser Slopers (2 pieces)</li>
<li>Full scale Trouser Waistband Sloper</li>
<li>Full scale Slacks Slopers (2 pieces)</li>
<li>J-fly sewing sample</li>
</ul>
<li style="text-decoration-line:underline">Runway Recreation 30&percnt; Checkpoint</li>
<ul>
<li>Come to class with your initial Runway Recreation garment patterns drafted on paper.</li>
<li>These initial drafts can be cut on fold for testing, but final patterns must be drafted face up one way!</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Full Scale Oaktag Slopers</li>
<li>Full Scale Runway Patterns</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
<li>Medium weight muslin</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
<li>Additional notions as needed for Runway Recreation Project</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Runway Recreation Shirt/Blouse muslin mock-up construction and pattern testing.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Work on Runway Recreation Shirt/Blouse muslin mock-up.</li>
</ul>