<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Sleeve Sample (cut one fabric)</li>
<li>Sleeve Sample Placket (cut one fabric, cut one interfacing)</li>
<li>Sleeve Sample Cuff (cut one fabric, cut one interfacing)</li>
</ul>
<li>Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
<li>Medium weight muslin</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Separate button placket</li>
<li>Add-on/folded button placket</li>
<li>Hidden button placket</li>
<li>Sewing the sleeve placket sample</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Complete the basic shirt/blouse with sleeve, casual shirt with sleeve, all 3 button placket drafting samples in half scale and bring them to our next class meeting.</li>
<li style="text-decoration-line:underline">Carefully cut and sew the sleeve placket sewing sample in full scale and bring it to our next class meeting.</li>
<li>Continue flats and research for the Runway Recreation Project.</li>
<li>Continue work on the Modular Dress project.</li>
<ul>
<li>Choose one draft exercise or design illustration from pp.302, 307-308, 310-316, 319, 323, 325, 329-331 <b>(pp.350, 355-356, 358-364, 367, 371, 373, 377-379)</b>.</li>
<li>Modify your Full-Scale sleeve ONLY to suit your chosen draft/illustration.</li>
<li>Transform your full-scale drafts into patterns by adding seam allowance (SA), hem allowance (HA), notches, tailor's tacks, and requested pattern notation.</li>
<li>Carefully cut and sew your final sleeve patterns in muslin or fashion fabric.</li>
<li>Sew your sleeve patterns to the bodice and skirt created last week.</li>
<li>Ensure an opening is left for a closure of some kind.</li>
<li>See the Modular Dress assignment brief for details.</li>
</ul>
<li>Read Chapter 10: Collars pp.179-200 <b>(pp.211-232)</b> before Class Nine.</li>
<li>Watch the accompanying videos provided for Week Five in <strong>Blackboard &gt; Week Five.</strong></li>
</ul>