<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Come to class with the full-scale slopers cleanly and properly drafted and trued on paper.</li>
<li>Full scale slopers will be reviewed to ensure precision in drafting.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Princess panel stylelines</li>
<li>Adding fullness by slashing and spreading</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Complete dart rotation, dart distribution, multiple dart transformation, princess stylelines, and added fullness drafting samples and bring them to our next class meeting.</li>
<li style="text-decoration-line:underline">Carefully cut and sew the Multiple Dart Transformation Sewing Sample and bring it to our next class meeting.</li>
<li>Begin work on the Modular Dress project.</li>
<ul>
<li>Choose one draft exercise or design illustration from pp. 108-120, 136-154 <b>(pp.122-134, 156-178)</b>.</li>
<li>Modify your Full-Scale front and back bodices ONLY to suit your chosen draft/illustration.</li>
<li>Transform your full-scale drafts into patterns by adding seam allowance (SA), hem allowance (HA), notches, tailor's tacks, and requested pattern notation.</li>
<li>Carefully cut and sew your final bodice patterns in muslin or fashion fabric.</li>
<li>Ensure an opening is left for a closure of some kind.</li>
<li>See the Modular Dress assignment brief for details.</li>
</ul>
<li>Read pp.231-233, 239-240, 302-303, 317-318 <b>(pp.275-277, 283-284, 350-351, 365-366)</b> before Class Five.</li>
<li>Watch the accompanying videos provided for Week Three in <b>Blackboard &gt; Week Three</b>.</li>
</ul>