<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Come to class with the half-scale slopers cleanly cut, drilled, notched, and labeled.</li>
<li>Half-scale oaktag slopers will be reviewed to ensure precision in copying and cutting.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Rotating Darts (two methods).</li>
<li>Tuck Darts, Dart Clusters, and Gathers.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete dart rotation, distribution and transformation samples in half scale.</li>
<li style="text-decoration-line:underline">Complete drafting full scale Size 8 Womenswear slopers on paper and bring them to the next class meeting.</li>
<ul>
<li>Ensure slopers are accurately drafted, trued, walked, and marked with necessary notches and tailor's tacks.</li>
</ul>
<li>Read pp.122-127, 129-130, 133-135 <b>(pp.138-143, 145-146, 153-155)</b> before Class Four.</li>
</ul>
