<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Bring your full scale slopers, drafting tools, fabric and sewing supplies to class for an in-class exercise.</li>
<li style="text-decoration-line:underline">Sample Book Productivity</li>
<li>Bring the following samples to class for review:</li>
<ul>
<li>Printed copy of Productivity Check-in 02 Checklist</li>
<li>Skirt Added Fullness Pattern</li>
<li>A Line Skirt Patterns (2 pieces)</li>
<li>Lantern Sleeve Patterns (2 pieces)</li>
<li>Torso Slopers (2 pieces)</li>
<li>Kimono Slopers (2 pieces)</li>
<li>Raglan Slopers (4 pieces)</li>
<li>Draft of provided garment in Productivity Check-in 02 Brief</li>
<li>Half-scale sewn sample of provided garment in Productivity Check-in 02 Brief</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
<li>Medium weight muslin</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>In-class Garment Design Exercise</li>
<li>Modifying the bodice into a shirt sloper.</li> 
<li>How to walk the sleeve cap.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete drafting the basic shirt and corresponding sleeve slopers.</li>
<li>Complete drafting the casual shirt and corresponding sleeve slopers.</li>
<li>Print, assemble, and cut provided sleeve placket fabric and interfacing in preparation for Class Eight.</li>
<li>Read pp.450-452 <b>(pp.526-528)</b> before Class Eight.</li>
</ul>