<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Looks will be assigned for the Runway Recreation project.</li>
<li>Drafting the Torso slopers</li>
<li>Drafting the Kimono slopers</li>
<li>Drafting the Raglan sleeve slopers</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Complete the skirt modifications, sleeve modification, and combined slopers drafting samples and bring them to our next class meeting.</li>
<li style="text-decoration-line:underline">Draft, carefully cut and sew the garment provided for Productivity Check-in 02 (see brief in Blackboard for details).</li>
<li>Begin flats and research for the Runway Recreation Project.</li>
<li>Continue work on the Modular Dress project.</li>
<ul>
<li>Choose one draft exercise or design illustration from pp. 108-120, 136-154 <b>(pp.122-134, 156-178)</b>.</li>
<li>Modify your Full-Scale front and back skirts ONLY to suit your chosen draft/illustration.</li>
<li>Transform your full-scale drafts into patterns by adding seam allowance (SA), hem allowance (HA), notches, tailor's tacks, and requested pattern notation.</li>
<li>Carefully cut and sew your final skirt patterns in muslin or fashion fabric.</li>
<li>Sew your skirt patterns to the bodices created last week.</li>
<li>Ensure an opening is left for a closure of some kind.</li>
<li>See the Modular Dress assignment brief for details.</li>
</ul>
<li>Read pp.441-449, 145-148 <b>(pp.517-525, 169-172)</b> before Class Seven.</li>
<li>Watch the accompanying videos provided for Week Four in <strong>Blackboard &gt; Week Four.</strong></li>
</ul>