<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Medium weight muslin</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
<li>Additional notions as needed for Runway Recreation Project</li>
<li>Drafting supplies (if needed)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Continue construction of the Runway Shirt/Blouse muslin mock-up</li>
<li>Update initial patterns and/or technical flats given the insight provided from muslin testing.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Bring your completed Runway Shirt/Blouse mock-up to our next class meeting for review.</li>
</ul>