<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete the Pre-Quarter Assignment</li>
<li>Bring the following materials to class:</li>
<ul>
<li>1 yard of Oaktag Paper</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Paper Scissors</li>
<li>Utility knife or X-acto brand knife (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Begin drafting the Size 8 womenswear full scale slopers according to the textbook directions on pages 40-62 <b>(46-68)</b></li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Print and assemble the Size 8 Womenswear Half Scale slopers (available on <b>Blackboard > Week One</b>). Ensure they are printed to the correct size using the scale provided on the print out.</li>
<li>Read pp.48-50,53-62 <b>(pp.54-56, 59-68)</b> before Class Two.</li>
</ul>