<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Runway Recreation 60&percnt; Checkpoint</li>
<ul>
<li>Come to class with your Runway Recreation Shirt/Blouse mock-up complete.</li>
<li>Seam finishes, hem finishes, and closures not required but highly encouraged.</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Medium weight muslin</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
<li>Additional notions as needed for Runway Recreation Project</li>
<li>Drafting supplies (if needed)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Runway Recreation Trouser muslin mock-up construction and pattern testing.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Work on Runway Recreation Trouser muslin mock-up.</li>
</ul>