<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Fashion Fabric of choice</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
<li>Additional notions as needed for Runway Recreation Project</li>
<li>Drafting supplies (if needed)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Finalize construction of the Runway Shirt/Blouse and Trousers.</li>
<li>Update Technical Flats of the final garments.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration: underline;">Bring your completed Runway Shirt/Blouse and Runway Trousers to our next class meeting.</li>
</ul>